* {
  box-sizing: border-box;
}
:root{
  --primary-color:rgb(234, 172, 172);
}
body{
  margin: 0;
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  text-align: center;
  padding: 20px;
  margin: 0 0 50px;
  background-color: white;
}
.guess-game{
  text-align: center;
  width: 1000px;
  margin: 20px auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .game-area{
  text-align: center;
  display: flex;
width: 100%;

}
}
.key-colors{
    margin-left: auto !important;  
  .key-color{
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: white;
    margin-bottom: 10px;
    .key{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 10px;
      &.in-place{
        background-color: #f89e13;
      }
      &.not-in-place{
        background-color: #18ba89;
      }
      &.no{
        background-color: #27303f;
      }
    }
    .key-text{
      font-size: 20px;
      font-weight:bold ;
    }
  }
}