* {
  box-sizing: border-box;
}
:root {
  --primary-color: rgb(234, 172, 172);
}
body {
  margin: 0;
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 120px;
}
h1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  text-align: center;
  padding: 20px;
  margin: 0 0 50px;
  background-color: white;
}

.left-side {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guess-game {
  text-align: center;
  width: 1000px;
  margin: 20px auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .game-area {
    text-align: center;
     display: flex;
    width: 100%;
    .inputs {
      > div {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          font-size: 30px;
          margin-right: 15px;
          font-weight: bold;
        }
        input {
          margin: 0 5px;
          width: 60px;
          height: 60px;
          text-align: center;
          font-size: 50px;
          caret-color: var(--primary-color);
          background-color: white;
          border: none;
          border-bottom: 3px solid #333;
          &:focus {
            outline-color: #ccc;
          }
          &.yes-in-place {
            background-color: #f89e13;
            border: #f89e13;
            color: white;
          }
          &.not-in-place {
            background-color: #18ba89;
            border: #18ba89;
            color: white;
          }
          &.no {
            background-color: #27303f;
            border: #27303f;
            color: white;
          }
        }
      }
    }
    .control {
       display: flex;
       align-items: center;   
       width: 100%;
       /*margin: 20px 40px;*/
       margin-top: 10px;
       margin-bottom: 60px;
       margin-left: 170px;
      gap: 15px;
      .check {
        background-color: rgb(1, 8, 12);
        flex: 1;
      }
      .hint {
        background-color: #009688;
        width: fit-content;
      }
      button {
        border: none;
        font-size: 25px;
        padding: 15px 20px;
        border-radius: 6px;
        color: white;
        cursor: pointer;
        font-weight: bold;
      }
      button:disabled {
        background-color: black;
        opacity: 0.4;
        cursor: no-drop;
      }
    }
  }
}

.disabled-inputs {
  opacity: 0.5;
  pointer-events: none;
}
.key-colors {
  margin-left: auto !important;
  .key-color {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: white;
    margin-bottom: 10px;
    .key {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 10px;
      &.in-place {
        background-color: #f89e13;
      }
      &.not-in-place {
        background-color: #18ba89;
      }
      &.no {
        background-color: #27303f;
      }
    }
    .key-text {
      font-size: 20px;
      font-weight: bold;
    }
  }
}
.message {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  span {
    font-weight: bold;
    display: block;
    font-size: 50px;
    color: var(--primary-color);
    text-transform: capitalize;
    margin-top: 10px;
  }
  p {
    margin-top: 15px;
  }
}
footer {
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
}
